body{
  background-color: #BBBFCA;
}

hr{
  border-style: none;
  border-color: #FF2626;
  border-top-style: dotted;
  border-width:7px;
  width: 1.5%;
}

p{
  color: #343239;
}
h1{
  color: #FF2626;
}
a{
  color: #343239;
}
h3{
  color: #343239;
}
li{
  color: #343239;
}
h2{
  color: #343239;
}
td{
  color: #343239;
}
a:hover{
  color: #FF2626;
}
li:hover{
  color: #FF2626;
}
